In [10]:
import pandas as pd 
df = pd.read_csv('train.csv')
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [14]:
print(df.shape)
#  Excluindo colunas com valores ausentes
df.dropna(axis=1, inplace=True)
print(df.shape)

(1460, 81)
(1460, 62)

Define FunÃ§Ã£o para cÃ¡lculo rÃ¡pido do melhor score de preprocessamento. <br>
SerÃ¡ Testado entre: <br>
#1 - Retirar os dados nÃ£o numÃ©ricos. <br>
#2 - CodificaÃ§Ã£o Ordinal. <br>
#3 - CodificaÃ§Ã£o One Hot <br>

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
 
def model_score(X, y):
    train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
    model = RandomForestRegressor(random_state=1)
    model.fit(train_X, train_y)
    preds = model.predict(val_X)
    return mean_absolute_error(val_y, preds)

#1 - Retirar os dados nÃ£o numÃ©ricos.

In [15]:
# Define X and y
y = df.SalePrice
X = df.drop(['SalePrice'], axis=1).select_dtypes(exclude=['object'])

model_score(X, y)

17006.18194520548

#2 - CodificaÃ§Ã£o Ordinal.

In [19]:
from sklearn.preprocessing import OrdinalEncoder

object_cols = [col for col in df.columns if df[col].dtype == "object"]

y = df.SalePrice
X = df.drop(['SalePrice'], axis=1)
ordinal_encoder = OrdinalEncoder()
X[object_cols] = ordinal_encoder.fit_transform(df[object_cols])
model_score(X, y)

16437.31802739726

#3 - CodificaÃ§Ã£o One Hot <br>

In [28]:
from sklearn.preprocessing import OneHotEncoder

object_cols = [col for col in df.columns if df[col].dtype == "object"]
y = df.SalePrice
X = df.drop(['SalePrice'], axis=1)
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(df[object_cols]))
OH_cols.index = X.index
num_X = df.drop(object_cols, axis=1).drop(['SalePrice'], axis=1)
OH_X = pd.concat([num_X, OH_cols], axis=1)
OH_X.columns = [str(i) for i in OH_X.columns]
model_score(OH_X, y)

16586.494547945204

Foi decidido utilizar o mÃ©todo de #2 - CodificaÃ§Ã£o Ordinal. por ter um MSE mais baixo. <br>
Com isso foi criando uma funÃ§Ã£o para prÃ© processamento dos dados:

In [29]:
def preprocess(df):
    object_cols = [col for col in df.columns if df[col].dtype == "object"]

    y = df.SalePrice
    X = df.drop(['SalePrice'], axis=1)
    ordinal_encoder = OrdinalEncoder()
    X[object_cols] = ordinal_encoder.fit_transform(df[object_cols])
    return X, y

Testar modelo de arvore de decisÃ£o

In [31]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

X, y = preprocess(df)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
dt = DecisionTreeRegressor(random_state=0)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
print('MSE: ', mean_absolute_error(y_test, y_pred))

MSE:  25057.701369863014

SerÃ¡ Utilizado o a Biblioteca Pycarte para comparar os modelos de aprendizado de mÃ¡quina #pip install pycaret (reqs: python<3.8) <br>

In [33]:
from pycaret.regression import *
X, y = preprocess(df)
X['SalePrice'] = y
exp_reg = setup(data = X, target = 'SalePrice', session_id=123, normalize = True, transformation = True)

In [34]:
exp_reg.compare_models()

GradientBoostingRegressor(random_state=123)

Definindo o modelo Gradient Boosting Regressor	como uma variavel do SKlearn

In [35]:
gbr = create_model('gbr')

AttributeError: 'GradientBoostingRegressor' object has no attribute 'analyze_model'

In [36]:
evaluate_model(gbr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [37]:
tuned_gbr = tune_model(gbr)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).