In [26]:
import pandas as pd 
df = pd.read_csv('train.csv')
df = df.select_dtypes(exclude=['object'])
df.fillna(value=0, inplace=True)
df.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

Testar sem os parametros classificatórios.

In [27]:
# Define X and y
y = df.SalePrice
X = df.drop(['SalePrice'], axis=1).select_dtypes(exclude=['object'])

In [28]:
from sklearn.model_selection import train_test_split
# Dividir entre treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

Testar utilizando árvore de Decisão

In [29]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
dt = DecisionTreeRegressor(random_state=0)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
print('MSE: ', mean_squared_error(y_test, y_pred))

MSE:  1792916634.4684932

In [30]:
test = pd.read_csv('test.csv')
test = test.select_dtypes(exclude=['object'])
test.fillna(value=0, inplace=True)
y_pred_test = dt.predict(test)
final = pd.DataFrame({'Id': test.Id, 'SalePrice': y_pred_test})
final.to_csv('submission.csv', index=False)